<?php

return [
    'database' => [
        'host' => 'localhost',
        'port' => '3306',
        'db_name' => 'disburse',
        'db_username' => 'root',
        'db_password' => ''
    ],
    'api_base_url' => 'https://nextar.flip.id',
    'api_secret_key' => '',
];
